body{
    background: linear-gradient(180deg,maroon,darkgreen);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    align-items: center;
}


.title{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.calc{
    display: flex;
    align-items: end;
}

.profit{
    height: 700px;
    width: 600px;
    background-color: rgb(61, 123, 0);
    margin-top: 15px;
    border-radius: 35px;
    text-align: center;
    align-items: center;
}


.cpz{
    margin-left: 10px;
    display: flex;
    height: 80px;
    width: 580px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 50px;
   
}

.cpz input{
    border: 0;
    outline: 0;
    width: 500px;
    margin-left: 40px;
    font-size: x-large;
}

.spz{
    margin-left: 10px;
    display: flex;
    height: 80px;
    width: 580px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-top: 50px;
   
}

.spz input{
    border: 0;
    outline: 0;
    width: 500px;
    margin-left: 40px;
    font-size: x-large;
}

.result input{
    outline: 0;
    border: 0;
    background:rgb(61, 123, 0) ;
    font-size: x-large;
    width: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.result img{
    cursor: pointer;
}

.loss{
    height: 700px;
    width: 600px;
    background-color: rgb(78, 0, 0);
    margin-top: 15px;
    margin-left: 85px;
    border-radius: 35px;
    text-align: center;
    align-items: center;
}

.resultlo img{
    cursor: pointer;
}

.cplo{
    margin-left: 10px;
    display: flex;
    height: 80px;
    width: 580px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 49px;
}

.cplo input{
    border: 0;
    outline: 0;
    width: 500px;
    margin-left: 40px;
    font-size: x-large;
}

.splo{
    margin-left: 10px;
    display: flex;
    height: 80px;
    width: 580px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.splo input{
    border: 0;
    outline: 0;
    width: 500px;
    margin-left: 40px;
    font-size: x-large;
}

.resultlo input{
    outline: 0;
    border: 0;
    background:rgb(78, 0, 0) ;
    font-size: x-large;
    width: 60px;
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

